.fab_base_style {
  width: 48px;
  height: 48px;
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  border-radius: 0px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.fab_position {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.fab_position_up_sm {
  right: 32px;
  bottom: 32px;
}

.fab_svg_fill {
  fill: var(--mui-palette-primary-contrastText);
}
