.container {
  display: flex;
  flex: 1 1 100%;
  container-type: inline-size;
}

.card {
  max-width: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post_image,
.post_text {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.post_image {
  width: 100%;
  min-height: var(--post-min-height);
  flex: 1 1 25%;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post_text {
  flex: 1 1 75%;
  justify-content: flex-start;
}

@container (min-width: 720px) {
  .card {
    flex-direction: row;
    gap: 16px;
  }

  .post_text {
    justify-content: center;
  }
}

.post_date {
  margin: 0.5rem 0;
}

.tag_container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 1rem;
}
