.description {
  white-space: pre-line;
}

.main_section_main {
  display: block;
}

.main_section_main_up_sm {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: repeat(2, clamp(var(--post-min-height), 20vh, auto));
  grid-template-areas: 'latest second' 'latest third';
  gap: 16px;
}

.main_section_main_latest {
  grid-area: latest;
  min-height: var(--post-min-height);
  display: flex;
}

.main_section_main_second {
  grid-area: second;
  min-height: var(--post-min-height);
  display: flex;
}

.main_section_main_third {
  grid-area: third;
  min-height: var(--post-min-height);
  display: flex;
}
