@tailwind base;
@tailwind components;
@tailwind utilities;

.postContentWrapper {
  @apply text-base mt-2 mb-6;
  color: hsl(var(--bc));
}

.postContentWrapper h1 {
  @apply text-3xl my-3;
  color: hsl(var(--p));
}

.postContentWrapper h2 {
  @apply text-2xl my-2;
  color: hsl(var(--p));
}

.postContentWrapper h3 {
  @apply text-xl my-1;
  color: hsl(var(--p));
}

.postContentWrapper ol {
  @apply list-decimal list-inside;
}

.postContentWrapper ul {
  @apply list-disc list-inside;
}

.postContentWrapper li > ul,
.postContentWrapper li > ol {
  @apply ml-4;
}

.postContentWrapper a {
  @apply underline;
  color: hsl(var(--in));
}

.postContentWrapper blockquote {
  @apply p-4;
}

.postContentWrapper blockquote > p {
  @apply border-l-4 pl-2;
}
